.header{
    width: 100%;
    display: grid;
    grid-template-columns: 4rem 20rem auto auto;
    grid-template-rows: 3rem;
    padding: 1rem 4rem;
}

.container{
    background: rgb(44, 73, 238);
    width: 100%;
    height: 100%;
    display: flex;
}

.img{
    background-image: url("/favicon.svg");
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3467E1;
    cursor: pointer;
}