.container {
  background: #E6E9ED;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/favicon.svg");
  background-repeat: no-repeat;
  background-position: -150vh -146vh;
  background-size: 150rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.content{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 4rem;
  align-items: center;
}

.mockup{
  width: 50vw;
  padding: 0 3rem;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.main_box{
  display: flex;
  flex-direction: column;
  width: 26rem;
  background: white;
  height: 80vh;
  border-radius: 8px;
  align-self: flex-start;
  padding: 1rem 2.5rem;
}

.line{
  width: 60%;
  border: 1px solid #ccc;
  background: #ccc;
  align-self: flex-end;
  margin-bottom: 1rem;
}

.main_box h1{
  color: #494949;
  font-size: 1.5rem;
}
.blue_text{
  color: rgb(26, 63, 228)
}

.main_box label{
  color: #494949;
  font-size: 1rem;
  font-weight: 600;
}

.main_box input{
  height: 3rem;
  margin: .5rem 0;
  border-radius: 50vh;
  border: none;
  outline: none;
  background: #E6E9ED;
  text-indent: 1rem;
  font-size: 1.1rem;
  text-align: center;
  border-bottom: .5rem;
  color: #494949;
  font-weight: 500;
}

.bottom_box{
  width: 100%;
  height: 5rem;
  margin-top: .8rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  font-size: 1.2rem;
}

.submit{
  height: 3rem;
  padding: 0 2rem;
  border-radius: 50vh;
  border: none;
  background: #154AB8;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.submit:hover{
  background: #0070f3;
}

.mockup_chat{
  transform: scale(.6) translateY(-6rem) translateX(-3rem);
}

.mockup_celular{
  transform: scale(.6) translateX(-35rem) translateY(3rem);
}

.mockup_chat, .mockup_celular{
  border-radius: 2rem;
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
}