.loadding{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0070f3;
}

.animation{
    width: 400px;
    height: 200px;
}