.fullbox{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
}

.title h2{
    margin: 0;
}
.container{
    padding: 1rem;
    font-size: 1.3rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.container span{
    color: rgb(26, 63, 228);
    padding: .3rem;
    background-color: rgb(26, 63, 228, .3);
    border-radius: 10px;
}
.container input{
    background-color: rgba(204, 204, 204, 0.3);
    font-size: 1.3rem;
    padding: .3rem;
    border-radius: 10px;
    border: none;
    height: 3rem;
}
.addLine{
    display: grid;
    grid-template-columns: auto 3rem;
    gap: 1rem;
}
.addButton{
    height: 100%;
    border: none;
    background: rgba(204, 204, 204, 0.3);
    padding: 0 !important;
    color: black;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}